body {
  font-family: 'Ubuntu', sans-serif;
}
.text::-moz-selection,
.link::-moz-selection {
  background: #fff2a8;
}
.text::selection,
.link::selection {
  background: #fff2a8;
}
.-hidden {
  display: none;
}
.to-top {
  display: none;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 3;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 50%;
  font-family: inherit;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
}
.owl-carousel {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.owl-carousel .slide {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.info-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  width: 640px;
  left: 50%;
  top: 28vh;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #000;
  z-index: 2;
}
.info-block > .avatar {
  width: 150px;
  height: 150px;
}
.info-block > .text {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  border: 2px solid #b3b3b3;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.info-block > .text.-about {
  font-size: 18px;
}
.info-block > .circle {
  border: 2px solid #b3b3b3;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all .15s;
  cursor: pointer;
}
.info-block > .circle > .link {
  width: 130px;
  margin: auto;
  color: #000;
  text-align: center;
  text-decoration: none;
}
.info-block > .circle.-about {
  left: 3vw;
}
.info-block > .circle.-about:hover {
  left: calc(3vw - calc(calc(150px - 130px)) / 2);
}
.info-block > .circle.-portfolio {
  right: 3vw;
}
.info-block > .circle.-portfolio:hover {
  right: calc(3vw - calc(calc(150px - 130px)) / 2);
}
.info-block > .circle:hover {
  width: 150px;
  height: 150px;
  top: 0;
  transition: all .15s;
}
.portfolio-block {
  padding: 40px 20px;
  border-top: 4px solid #000;
  background-image: url('../img/portfolio_bg.jpg');
  background-repeat: repeat-y;
  background-size: 100% auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.portfolio-block > .render {
  width: 23%;
}
.portfolio-block > .render > .image {
  box-sizing: border-box;
  border: 10px solid #fff;
  width: 100%;
  position: relative;
  z-index: 1;
  cursor: pointer;
  box-shadow: 5px 5px 20px #000;
}
.portfolio-block > .render > .text {
  position: relative;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: justify;
  border: 3px solid #545454;
  z-index: 2;
  box-shadow: 5px 5px 20px #000;
}
.portfolio-block > .render.-two {
  width: 46%;
}
.portfolio-block > .render.-three {
  width: 30%;
}
.portfolio-block > .render.-splitDescription > .text {
  left: 60%;
}
@media (max-width: 768px) {
  .info-block {
    width: 80%;
    font-size: 20px;
  }
  .info-block > .text.-about {
    font-size: 12px;
  }
  .portfolio-block > .render,
  .portfolio-block .render.-two,
  .portfolio-block .render.-three {
    width: 90%;
  }
  .portfolio-block > .render.-splitDescription > .text {
    left: auto;
  }
}
